/* Default styling for larger screens */
.App {
  display: flex;
}

.content {
  margin-left: 250px; /* Adjust this to match the sidebar width */
  padding: 20px;
  width: calc(100% - 250px); /* Adjust according to sidebar width */
}

h2, h3, p {
  margin-bottom: 10px;
  line-height: 1.5;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .App {
    display: block; /* Stack content on smaller screens */
  }

  .content {
    margin-left: 0;
    width: 100%; /* Full width for content on smaller screens */
    padding: 15px; /* Adjust padding for smaller screens */
  }
}

@media (max-width: 480px) {
  .content {
    padding: 10px; /* Further reduce padding for very small screens */
  }

  h2, h3, p {
    margin-bottom: 8px; /* Adjust margins for smaller text spacing */
    line-height: 1.4; /* Adjust line height for readability */
  }
}
