/* Default styling for larger screens */
.App {
  display: flex;
}

.content {
  margin-left: 250px; 
  padding: 20px;
  width: calc(100% - 250px); 
}

h2, h3, p {
  margin-bottom: 10px;
  line-height: 1.5;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .App {
    display: block; /
  }

  .content {
    margin-left: 0;
    width: 100%; 
    padding: 15px; 
  }
}

@media (max-width: 480px) {
  .content {
    padding: 10px; 
  }

  h2, h3, p {
    margin-bottom: 8px; 
    line-height: 1.4; 
  }
}
